@page "/CreateUser"
@layout AdminLayout
@rendermode InteractiveServer

@using System.Security.Cryptography
@using System.Text
@using Microsoft.EntityFrameworkCore
@using ServiceContracts
@using TravelFusionLean.Data
@using TravelFusionLean.Components.Layout
@using TravelFusionLean.Models

@inject IUserService UserService
@inject IUserRoleService UserRoleService

@inject NavigationManager NavigationManager

<h3>CreateUser</h3>

@code {
    private User _user = new User();
    private List<UserRole> _userRoles = new List<UserRole>();
    private int selectedRoleId;

    private string password = "";
    private string passwordRepeat = "";


    protected override async Task OnInitializedAsync()
    {
        _userRoles = (await UserRoleService.GetAllAsync()).ToList();
        await base.OnInitializedAsync();
    }

    private async Task Create()
    {
        if (password == passwordRepeat)
        {
            _user.UserRole = _userRoles.FirstOrDefault(role => role.Id == selectedRoleId);
            var user = await UserService.Create(_user, password);
        }

    }

}


<EditForm FormName="User" Model="@_user" OnValidSubmit="@Create">
    <h6>Brugernavn</h6>
    <InputText @bind-Value="@_user.Username"></InputText>
    <h6>Adgangskode</h6>
    <InputText @bind-Value="@password"></InputText>
    <h6>Gentag adgangskode</h6>
    <InputText @bind-Value="@passwordRepeat"></InputText>
    
    <h6>Email</h6>
    <InputText @bind-Value="@_user.Email"></InputText>
    
    <label for="roleSelect">Vælg en rolle:</label>
    <select @bind="selectedRoleId">
        @foreach (UserRole role in _userRoles)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </select>

    <button type="submit">Create</button>
</EditForm>
 