@page "/CreateUser"
@layout AdminLayout
@rendermode InteractiveServer

@using System.Security.Cryptography
@using System.Text
@using Microsoft.EntityFrameworkCore
@using ServiceContracts
@using TravelFusionLean.Data
@using TravelFusionLean.Components.Layout
@using TravelFusionLean.Models

@inject IUserService UserService
@inject IUserRoleService UserRoleService

@inject NavigationManager NavigationManager

<h3>CreateUser</h3>

@code {
    private User _user = new User();
    private List<UserRole> _userRoles = new List<UserRole>();
    private int selectedRoleId;

    private string _password = "";
    private bool passwordTouched = false;
    private const int MinPasswordLength = 8;
    private string _passwordRepeat = "";

    private string Password
    {
        get => _password;
        set
        {
            _password = value;
            passwordTouched = true;
            StateHasChanged(); // Sikrer UI opdateres live
        }
    }
    private string PasswordRepeat
    {
        get => _passwordRepeat;
        set
        {
            _passwordRepeat = value;
            StateHasChanged();
        }
    }

    private bool IsPasswordValid => Password.Length >= MinPasswordLength;
    private bool PasswordsMatch => Password == PasswordRepeat;


    protected override async Task OnInitializedAsync()
    {
        _userRoles = (await UserRoleService.GetAllAsync()).ToList();
        await base.OnInitializedAsync();
    }

    private async Task Create()
    {
        if (Password == PasswordRepeat)
        {
            _user.UserRole = _userRoles.FirstOrDefault(role => role.Id == selectedRoleId);
            var user = await UserService.Create(_user, Password);
        }

    }

}

<EditForm FormName="User" Model="@_user" OnValidSubmit="@Create">
    <h6>Brugernavn</h6>
    <InputText @bind-Value="@_user.Username" class="form-control"></InputText>
    <h6>Adgangskode</h6>
    <InputText @bind-Value="Password" class="form-control" />
    @if (!IsPasswordValid && passwordTouched==true)
    {
        <div class="text-danger mt-1">Adgangskode er for kort.</div>
    }
    <h6>Gentag adgangskode</h6>
    <InputText @bind-Value="PasswordRepeat" class="form-control" />
    @if (!PasswordsMatch)
    {
        <div class="text-danger mt-1">Adgangskoder er ikke ens.</div>
    }
    <h6>Email</h6>
    <InputText @bind-Value="@_user.Email" class="form-control"></InputText>
    
    <label for="roleSelect">Vælg en rolle:</label>
    <select @bind="selectedRoleId">
        @foreach (UserRole role in _userRoles)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </select>

    <button type="submit">Create</button>
</EditForm>




 