@page "/CreateUser"
@layout AdminLayout
@rendermode InteractiveServer

@using System.Security.Cryptography
@using System.Text
@using Microsoft.EntityFrameworkCore
@using ServiceContracts
@using TravelFusionLean.Data
@using TravelFusionLean.Components.Layout
@using TravelFusionLean.Models

@inject IUserService UserService
@inject IUserRoleService UserRoleService

@inject NavigationManager NavigationManager

<h3>CreateUser</h3>

<EditForm FormName="User" Model="@_user" OnValidSubmit="@Create">
    <h6>Brugernavn *</h6>
    <InputText @bind-Value="@_user.Username" class="@GetCssClass(IsUsernameValid,_user.Username)" oninput="@CheckUsernameAvailability"></InputText>
    @if (usernameIsTaken)
    {
        <div class="text-danger mt-1">Brugernavn er optaget, vælg et andet.</div>
    }
    <h6>Adgangskode *</h6>
    <InputText @bind-Value="Password" class="@GetCssClass(IsPasswordValid,Password)" oninput="@CheckPasswordStrength" type="password" />
    @if (!IsPasswordValid && passwordTouched==true)
    {
        <div class="text-danger mt-1">Adgangskode er for kort.</div>
    }
    <h6>Gentag adgangskode *</h6>
    <InputText @bind-Value="PasswordRepeat" class="@GetCssClass(PasswordsMatch,PasswordRepeat)" type="password" />
    @if (!PasswordsMatch)
    {
        <div class="text-danger mt-1">Adgangskoder er ikke ens.</div>
    }
    <h6>Email * </h6>
    <InputText @bind-Value="@_user.Email" class="@GetCssClass(IsEmailValid, _user.Email)" oninput="@CheckEmail"></InputText>
    @if (!IsEmailValid && IsEmailTouched )
    {
        <div class="text-danger mt-1">Email ikke gyldig.</div>
    }
    <label for="roleSelect">Vælg en rolle:</label>
    <select @bind="selectedRoleId">
        @foreach (UserRole role in _userRoles)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </select>

    <button type="submit"  disabled="@(!canCreate)">Create </button>
</EditForm>




 