@page "/UserRoles"
@rendermode InteractiveServer
@using TravelFusionLean.ComponentHelpers
@using TravelFusionLean.Data
@using TravelFusionLean.Models
@inject AppDbContext DbContext

@code {
    private UserRole _userRole = new UserRole();
    private List<UserRole> _userRoles = new List<UserRole>();

    private ViewModes _mode = ViewModes.Create;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void Create()
    {
        DbContext.UserRoles.Add(_userRole);
        DbContext.SaveChanges();
        _userRoles = DbContext.UserRoles.ToList();
        _mode = ViewModes.List;
    }

}


<h3>UserRoles</h3>

@if (_mode == ViewModes.List)
{
    <table>
        <thead>
        <th>Id</th>
        <th>Name</th>
        </thead>
        <tbody>
    @foreach (var userRole in _userRoles)
    {
    <tr>
        <td>@userRole.Id</td>
        <td>@userRole.Name</td>
    </tr>
    }
    </tbody>
    </table>
}
else if (_mode == ViewModes.Create)
{
    <EditForm FormName="UserRole" Model="@_userRole" OnValidSubmit="@Create">
        <InputText @bind-Value="@_userRole.Name"></InputText>
        <button type="submit">Create</button>
    </EditForm>
}



