@page "/TravelPackageList"

@using Microsoft.EntityFrameworkCore
@using Shared.Models
@using Data
@inject AppDbContext DbContext

@layout AdminLayout
@rendermode InteractiveServer
@using TravelFusionLean.Components.Layout
@using TravelFusionLean.Components.Layout.Admin

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Travelpackages</h3>
    <a class="btn btn-success" href="/travel-package-flights">
        <i class="bi bi-person-plus me-1"></i> Opret rejsepakke
    </a>
</div>

@code {
    private string destinationSearch;
    private DateOnly startDateSearch;
    private decimal priceFromSearch = 0;
    private decimal priceToSearch = 10000;

    private string noResultsMessage = "";

    private void SearchTravelPackages() //TODO tilføj by og land på hotellet
    {
        _travelPackages = LoadTravelPackages();
        _travelPackages = _travelPackages
            .Where(tp =>
                (string.IsNullOrEmpty(destinationSearch) ||
                    tp.HotelStay.Hotel.Address.Contains(destinationSearch, StringComparison.OrdinalIgnoreCase) ||
                    tp.InboundFlight.DepartureFromAirport.Country.Contains(destinationSearch, StringComparison.OrdinalIgnoreCase) ||
                    tp.InboundFlight.DepartureFromAirport.City.Contains(destinationSearch, StringComparison.OrdinalIgnoreCase))
                &&
               DateOnly.FromDateTime(tp.OutboundFlight.DepartureTime) >= startDateSearch
                &&
                tp.Price >= priceFromSearch
                &&
                tp.Price <= priceToSearch
            )
            .ToList();

        if (_travelPackages.Count == 0)
        {
            noResultsMessage = "Ingen rejsepakker matchede dine kriterier."; // Besked til brugeren
        }
        else
        {
            noResultsMessage = ""; // Hvis der er fundet resultater, nulstil beskeden
        }
    }

}
<div>
    <label for="destination">Destination:</label>
    <input type="text" id="destination" @bind="destinationSearch" placeholder="Search by destination..." />

    <label for="dateFrom">From Date:</label>
    <input type="date" id="dateFrom" @bind="startDateSearch" />

    <label for="priceRange">Price Range:</label>
    <input type="number" id="priceFrom" @bind="priceFromSearch" placeholder="From" />
    <input type="number" id="priceTo" @bind="priceToSearch" placeholder="To" />

    <button @onclick="SearchTravelPackages">Search</button>
</div>
<br />

@code 
{
    private List<TravelPackage> _travelPackages = new List<TravelPackage>();

    protected override void OnInitialized()
    {
        base.OnInitialized(); //sørger for at basekomponeten bliver initialiseret korrekt på trods af override, ikke nødvendig, men god stil jævnfør Liskov Substitution Principle hvor en subklasse skal kunne erstatte sin superklasse uden problemer
        _travelPackages = LoadTravelPackages();
    }

    private List<TravelPackage> LoadTravelPackages()
    {
       return DbContext.TravelPackages.Include(tp => tp.OutboundFlight).ThenInclude(f => f.DepartureFromAirport) // Eager load udrejse fly og lufthavn
       .Include(tp => tp.HotelStay).ThenInclude(hs => hs.Hotel) //Eager load hotelophold og hotel
       .Include(tp => tp.InboundFlight).ThenInclude(f => f.DepartureFromAirport) //Eager load indrejse fly og lufthavn
       .ToList(); //populere Blazor komponentens liste med Travelpackages
    }
}

@if (!string.IsNullOrEmpty(noResultsMessage))
{
    <p>@noResultsMessage</p>
}
else{

<table border="1">
    <thead>
        <tr>
            <th>beskrivelse</th>
            <th>Antal Rejsende</th>
            <th>Fly (udrejse)</th>
            <th>Hotel</th>
            <th>Fly (hjemrejse)</th>
            <th>Pris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var package in _travelPackages)
        {
            <tr>
                <td>
                    <strong>@package.Headline</strong><br />
                    @package.Description
                </td>
                <td>@package.NoOfTravellers</td>
                <td>
                    @package.OutboundFlight?.DepartureFromAirport.Name <br />
                    @package.OutboundFlight?.DepartureTime.ToString("dd MMM yyyy HH:mm")<br />
                    @package.OutboundFlight?.Airline
                </td>
                <td>
                    @package.HotelStay.CheckInDate.ToString("d") <br />
                    @package.HotelStay.CheckOutDate.ToString("d") <br />
                    @package.HotelStay.Hotel.Name <br />
                </td>
                <td>
                    @package.InboundFlight?.DepartureFromAirport.Name <br />
                    @package.InboundFlight?.DepartureTime.ToString("dd MMM yyyy HH:mm")<br />
                    @package.InboundFlight?.Airline<br />
                    <br />
                </td>
                <td>@package.Price</td>
                <td>
                    <a class="btn btn-sm btn-primary me-1" href="/TravelPackage/@package.Id">Vis</a>
                    <a class="btn btn-sm btn-primary me-1" href="/EditTravelPackage/@package.Id">Rediger</a>
                    <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteTravelPackage(package.Id))">Slet</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private void DeleteTravelPackage(int Id)
    {
        var travelPackage = _travelPackages.FirstOrDefault(tp => tp.Id == Id);
        if (travelPackage is not null)
        {
            DbContext.TravelPackages.Remove(travelPackage);
            DbContext.SaveChanges();

            _travelPackages.Remove(travelPackage);
        }
    }
}
